[Desktop Entry]
Name=KHangMan Active
Name[ast]=KHangMan Activu
Name[bs]=KHangMan aktivan
Name[ca]=KHangMan
Name[ca@valencia]=KHangMan
Name[cs]=KHangMan Active
Name[da]=KHangMan Active
Name[de]=KHangMan Active
Name[el]=KHangMan Active
Name[es]=KHangMan Active
Name[et]=KHangMan Active
Name[fi]=KHangMan Active
Name[fr]=KHangMan Active
Name[ga]=KHangMan Active
Name[gl]=KHangMan Active
Name[hu]=KHangMan Active
Name[it]=KHangMan Active
Name[kk]=KHangMan Active
Name[km]=KHangMan សកម្ម
Name[ko]=KHangMan Active
Name[lt]=KHangMan Active
Name[lv]=KHangMan Active
Name[mr]=के-हँगमेन एक्टिव्ह
Name[nb]=KHangMan Aktiv
Name[nds]=KHangMan-Aktiev
Name[nl]=Actieve KHangMan
Name[pl]=KHangMan Active
Name[pt]=KHangMan Active
Name[pt_BR]=KHangMan Active
Name[ru]=KHangMan Active
Name[sk]=KHangMan Active
Name[sl]=KHangMan Active
Name[sv]=Khangman Active
Name[tr]=KHangMan Active
Name[uk]=Портативний KHangMan
Name[x-test]=xxKHangMan Activexx
Name[zh_TW]=KHangMan Active
GenericName=KHangMan Active
GenericName[ast]=KHangMan Activu
GenericName[bs]=KHangMan aktivan
GenericName[ca]=KHangMan
GenericName[ca@valencia]=KHangMan
GenericName[cs]=KHangMan Active
GenericName[da]=KHangMan Active
GenericName[de]=KHangMan Active
GenericName[el]=KHangMan Active
GenericName[es]=KHangMan Active
GenericName[et]=KHangMan Active
GenericName[fi]=KHangMan Active
GenericName[fr]=KHangMan Active
GenericName[ga]=KHangMan Active
GenericName[gl]=KHangMan Active
GenericName[hu]=KHangMan Active
GenericName[it]=KHangMan Active
GenericName[kk]=KHangMan Active
GenericName[km]=KHangMan សកម្ម
GenericName[ko]=KHangMan Active
GenericName[lt]=KHangMan Active
GenericName[lv]=KHangMan Active
GenericName[mr]=के-हँगमेन एक्टिव्ह
GenericName[nb]=KHangMan Aktiv
GenericName[nds]=KHangMan-Aktiev
GenericName[nl]=Actieve KHangMan
GenericName[pl]=KHangMan Active
GenericName[pt]=KHangMan Active
GenericName[pt_BR]=KHangMan Active
GenericName[ru]=KHangMan Active
GenericName[sk]=KHangMan Active
GenericName[sl]=KHangMan Active
GenericName[sv]=Khangman Active
GenericName[tr]=KHangMan Active
GenericName[uk]=Портативний KHangMan
GenericName[x-test]=xxKHangMan Activexx
GenericName[zh_TW]=KHangMan Active
Comment=KHangMan Active for tablets
Comment[ast]=KHangMan Activu pa tablets
Comment[bs]=KHangMan aktivan za tablete
Comment[ca]=KHangMan
Comment[ca@valencia]=KHangMan
Comment[cs]=KHangMan Active pro tablety
Comment[da]=KHangMan Active til tablet-pc'er
Comment[de]=KHangMan Active für Tablets
Comment[el]=KHangMan Active για υπολογιστές-ταμπλέτες
Comment[es]=KHangMan Active para tabletas
Comment[et]=KHangMan Active tahvelarvutitele
Comment[fi]=KHangMan Active tableteille
Comment[fr]=KHangMan Active pour tablettes
Comment[ga]=KHangMan Active ar tháibléid
Comment[gl]=KHangMan Active para tabletas
Comment[hu]=KHangMan Active tabletekhez
Comment[it]=KHangMan Active per tablet
Comment[kk]=Планшеттерге арналған KHangMan Active
Comment[km]=KHangMan សកម្ម​សម្រាប់​តារាង
Comment[ko]=태블릿용 KHangMan Active
Comment[lt]=KHangMan Active planšetiniams kompiuteriams
Comment[lv]=KHangMan Active planšetdatoriem
Comment[mr]=टॅब्लेट्स करिता के-हँगमेन एक्टिव्ह
Comment[nb]=KHangMan Aktiv for dataplater
Comment[nds]=KHangMan-Aktiev för Tablettreekners
Comment[nl]=Actieve KHangMan voor tablets
Comment[pl]=KHangMan Active dla tabletów
Comment[pt]=KHangMan Active para tabletes
Comment[pt_BR]=KHangMan Active para tablets
Comment[ru]=KHangMan Active для планшетов
Comment[sk]=KHangMan Active pre tablety
Comment[sl]=KHangMan Active za tablične računalnike
Comment[sv]=Khangman Active för läsplattor
Comment[tr]=Tabletler için KHangman
Comment[uk]=Портативна KHangMan для планшетів
Comment[x-test]=xxKHangMan Active for tabletsxx
Comment[zh_TW]=平板電腦用的 KHangMan Active
Exec=khangman-active -graphicssystem raster %u
Terminal=false
Icon=khangman-active
Type=Application
Categories=Qt;KDE;
