[Desktop Entry]
Name=KHangMan Active
Name[cs]=KHangMan Active
Name[da]=KHangMan Active
Name[de]=KHangMan Active
Name[es]=KHangMan Active
Name[et]=KHangMan Active
Name[hu]=KHangMan Active
Name[it]=KHangMan Active
Name[nb]=KHangMan Aktiv
Name[nl]=Actieve KHangMan
Name[pl]=KHangMan Active
Name[pt]=KHangMan Active
Name[pt_BR]=KHangMan Active
Name[sl]=KHangMan Active
Name[sv]=Khangman Active
Name[uk]=Портативний KHangMan
Name[x-test]=xxKHangMan Activexx
Name[zh_TW]=KHangMan Active
GenericName=KHangMan Active
GenericName[cs]=KHangMan Active
GenericName[da]=KHangMan Active
GenericName[de]=KHangMan Active
GenericName[es]=KHangMan Active
GenericName[et]=KHangMan Active
GenericName[hu]=KHangMan Active
GenericName[it]=KHangMan Active
GenericName[nb]=KHangMan Aktiv
GenericName[nl]=Actieve KHangMan
GenericName[pl]=KHangMan Active
GenericName[pt]=KHangMan Active
GenericName[pt_BR]=KHangMan Active
GenericName[sl]=KHangMan Active
GenericName[sv]=Khangman Active
GenericName[uk]=Портативний KHangMan
GenericName[x-test]=xxKHangMan Activexx
GenericName[zh_TW]=KHangMan Active
Comment=KHangMan Active for tablets
Comment[cs]=KHangMan Active pro tablety
Comment[da]=KHangMan Active til tablet-pc'er
Comment[de]=KHangMan Active für Tablets
Comment[es]=KHangMan Active para tabletas
Comment[et]=KHangMan Active tahvelarvutitele
Comment[hu]=KHangMan Active tabletekhez
Comment[it]=KHangMan Active per tablet
Comment[nb]=KHangMan Aktiv for dataplater
Comment[nl]=Actieve KHangMan voor tablets
Comment[pl]=KHangMan Active dla tabletów
Comment[pt]=KHangMan Active para tabletes
Comment[pt_BR]=KHangMan Active para tablets
Comment[sl]=KHangMan Active za tablične računalnike
Comment[sv]=Khangman Active för läsplattor
Comment[uk]=Портативна KHangMan для планшетів
Comment[x-test]=xxKHangMan Active for tabletsxx
Comment[zh_TW]=平板電腦用的 KHangMan Active
Exec=khangman-active -graphicssystem raster %u
Terminal=false
Icon=khangman-active
Type=Application
Categories=Qt;KDE;
