[Desktop Entry]
Name=KHangMan
GenericName=KHangMan Launcher
Exec=/opt/khangman/bin/khangman.sh
Icon=/usr/share/icons/hicolor/80x80/apps/khangman-harmattan.png
Type=Application
Categories=Qt;KDE;Game;
Terminal=false
