[Desktop Entry]
Name=KHangMan
Name[af]=K-hangman
Name[ast]=KHangMan
Name[be]=KHangMan
Name[bg]=KHangMan
Name[bn]=কে-হ্যাংম্যান
Name[br]=KHangMan
Name[bs]=KHangMan
Name[ca]=KHangMan
Name[ca@valencia]=KHangMan
Name[cs]=KHangMan
Name[csb]=KHangMan
Name[cy]=Krogwr
Name[da]=KHangMan
Name[de]=KHangMan
Name[el]=KHangMan
Name[en_GB]=KHangMan
Name[eo]=KHangMan
Name[es]=KHangMan
Name[et]=KHangMan
Name[eu]=KHangMan
Name[fi]=KHangMan
Name[fr]=KHangMan
Name[ga]=KHangMan
Name[gl]=KHangMan
Name[gu]=KHangMan
Name[he]=KHangMan
Name[hi]=के-हैंगमेन
Name[hne]=के- हेगमेन
Name[hr]=KHangMan
Name[hu]=KHangMan
Name[is]=KHangMan
Name[it]=KHangMan
Name[ja]=KHangMan
Name[ka]=KHangMan
Name[kk]=KHangMan
Name[km]=KHangMan
Name[ko]=KHangMan
Name[lt]=KHangMan
Name[lv]=KHangMan
Name[mk]=KHangMan
Name[ml]=കെ-ഹാങ്ങ്മാന്‍
Name[ms]=KHangMan
Name[nb]=KHangMan
Name[nds]=KHangMan
Name[ne]=केडीई ह्याङम्यान
Name[nl]=KHangMan
Name[nn]=KHengtmann
Name[pa]=ਕੇ-ਫਾਂਸੀ
Name[pl]=KHangMan
Name[pt]=KHangMan
Name[pt_BR]=KHangMan
Name[ro]=KHangMan
Name[ru]=KHangMan
Name[se]=KHangMan
Name[sk]=KHangMan
Name[sl]=KHangMan
Name[sv]=Khangman
Name[ta]=கேஹாங்க்மேன்
Name[tg]=KHangMan
Name[tr]=KHangMan
Name[ug]=KHangMan
Name[uk]=KHangMan
Name[vi]=KHangMan
Name[xh]=KHangMan
Name[x-test]=xxKHangManxx
Name[zh_CN]=KHangMan
Name[zh_TW]=語言_KHangMan
GenericName=KHangMan Launcher
GenericName[cs]=Spouštěč KHangMan
GenericName[de]=KHangMan-Starter
GenericName[es]=Lanzador de KHangMan
GenericName[et]=KHangMani käivitaja
GenericName[hu]=KHangMan indító
GenericName[nb]=KHangMan-starter
GenericName[nl]=Programmastarter van KHangMan
GenericName[pl]=Uruchamianie KHangMan
GenericName[pt]=Lançamento do KHangMan
GenericName[pt_BR]=Lançamento do KHangMan
GenericName[sl]=Zaganjalnik KHangMan
GenericName[sv]=Hänga gubben startprogram
GenericName[uk]=Засіб запуску KHangMan
GenericName[x-test]=xxKHangMan Launcherxx
GenericName[zh_TW]=KHangMan 啟動器
Exec=/opt/khangman/bin/khangman.sh
Icon=/usr/share/icons/hicolor/80x80/apps/khangman-harmattan.png
Type=Application
Categories=Qt;KDE;Game;
Terminal=false
