[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=khangman -caption "%c" %i %m  
Icon=khangman.png
MiniIcon=khangman.png
DocPath=khangman/index.html
GenericName=Hangman Game
GenericName[af]=Hangman Speletjie
GenericName[ar]=لعبة المشنقة
GenericName[bg]=Палач Игра
GenericName[bs]=Igra vješala
GenericName[cs]=Oběšenec
GenericName[da]=Hangman-spil
GenericName[de]=Ein Buchstabierspiel
GenericName[el]=Παιχνίδι Κρεμάλας
GenericName[eo]=Penduloludo
GenericName[es]=Juego del ahorcado
GenericName[et]=poomismäng
GenericName[eu]=Hangman Jokoa
GenericName[fi]=Hirsipuupeli
GenericName[fr]=Jeu du pendu
GenericName[he]=משחק Hangman
GenericName[hu]=akasztófás játék
GenericName[is]=Hengingarleikur
GenericName[it]=Gioco dell'impiccato
GenericName[ja]=ハングマンゲーム
GenericName[lt]=Budelio žaidimas
GenericName[lv]=Karātavu Spēle
GenericName[nb]=Hangman-spill
GenericName[nl]=galgje
GenericName[nn]=Hangman-spel
GenericName[pl]=Gra Hangman
GenericName[pt]=Jogo da Forca
GenericName[pt_BR]=Jogo Hangman
GenericName[ro]=Jocul spînzurătoarea
GenericName[ru]=Игра "Виселица"
GenericName[sk]=Hra Hangman
GenericName[sl]=Igra vislic
GenericName[sv]=Hänga-gubben spel
GenericName[th]=เกมแฮงค์แมน
GenericName[uk]=Гра Hangman
GenericName[ven]=Mutambo wau nembeledza
GenericName[vi]=Trò chơi Hangman
GenericName[xh]=Umdlalo Wokubalekisa
GenericName[xx]=xx
GenericName[zh_CN]=吊颈人游戏
GenericName[zh_TW]=劊子手遊戲
GenericName[zu]=Umdlalo WeHangman
Terminal=0
Name=KHangMan
Name[af]=K-hangman
Name[ar]=مشنقة ك
Name[eo]=Pendulo
Name[sl]=KVislice
Name[sv]=Hänga gubben
Name[th]=แฮงค์แมน - K
Name[ven]=Munembeledzi wa K
Name[xx]=xx
