[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=khangman -caption "%c" %i %m  
Icon=khangman
MiniIcon=khangman
DocPath=khangman/index.html
GenericName=Hangman Game
GenericName[af]=Hangman Speletjie
GenericName[bg]=Палач Игра
GenericName[bs]=Igra vješala
GenericName[ca]=Joc del penjat
GenericName[da]=Hangman-spil
GenericName[de]=Ein Buchstabierspiel
GenericName[el]=Παιχνίδι κρεμάλας
GenericName[es]=Juego del ahorcado
GenericName[et]=Poomismäng
GenericName[fi]=Hirsipuupeli
GenericName[fr]=Jeu du pendu
GenericName[he]=משחק Hangman
GenericName[hr]=Igra vješala
GenericName[hu]=akasztófás játék
GenericName[is]=Hangman leikur
GenericName[it]=Gioco dell'impiccato
GenericName[ja]=ハングマンゲーム
GenericName[lt]=Budelio žaidimas
GenericName[lv]=Karātavu Spēle
GenericName[mn]=HangMan-ий Тоглоом
GenericName[nb]=Hengtmann-spillet
GenericName[nl]=galgje
GenericName[nn]=Hangman-spel
GenericName[nso]=Papadi ya Hangman
GenericName[pl]=Gra Hangman
GenericName[pt]=Jogo da Forca
GenericName[pt_BR]=Jogo Hangman
GenericName[ru]=Игра "Виселица"
GenericName[sk]=Hra Hangman
GenericName[sl]=Igra vislic
GenericName[sv]=Hänga-gubben spel
GenericName[tr]=Adam Asmaca Oyunu
GenericName[ven]=Mutambo wau nembeledza
GenericName[xh]=Umdlalo Wendoda ejingayo
GenericName[zh_CN]=吊颈人游戏
GenericName[zh_TW]=劊子手遊戲
GenericName[zu]=Umdlalo WeHangman
Terminal=0
Name=KHangMan
Name[af]=K-hangman
Name[hr]=Vješala
Name[sl]=KVislice
Name[sv]=Khangman
Name[tr]=Adam Asmaca
Name[ven]=Munembeledzi wa K
