[Desktop Entry]
Type=Application
Exec=khangman -caption %c %i
Icon=khangman
X-DocPath=khangman/index.html
Comment=KDE Hangman Game
GenericName=Hangman Game
Terminal=false
Name=KHangMan
Categories=Qt;KDE;Education;Languages;Game;KidsGame;
