[Desktop Entry]
Name=KHangMan Active
Name[cs]=KHangMan Active
Name[es]=KHangMan Active
Name[hu]=KHangMan Active
Name[nl]=Actieve KHangMan
Name[pl]=KHangMan Active
Name[pt]=KHangMan Active
Name[pt_BR]=KHangMan Active
Name[sv]=Khangman Active
Name[uk]=Портативний KHangMan
Name[x-test]=xxKHangMan Activexx
Comment=KHangMan Active for tablets
Comment[cs]=KHangMan Active pro tablety
Comment[es]=KHangMan Active para tabletas
Comment[hu]=KHangMan Active tabletekhez
Comment[nl]=Actieve KHangMan voor tablets
Comment[pl]=KHangMan Active dla tabletów
Comment[pt]=KHangMan Active para tabletes
Comment[pt_BR]=KHangMan Active para tablets
Comment[sv]=Khangman Active för läsplattor
Comment[uk]=Портативна KHangMan для планшетів
Comment[x-test]=xxKHangMan Active for tabletsxx
Encoding=UTF-8
Type=Service
Icon=khangman-active
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Laszlo Papp
X-KDE-PluginInfo-Email=lpapp@kde.org
X-KDE-PluginInfo-Name=org.kde.khangman
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://edu.kde.org/applications/all/khangman
X-KDE-PluginInfo-Category=Games
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPLv2
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/main.qml
