[Desktop Entry]
Name=KHangMan Active
Comment=KHangMan Active for tablets
Encoding=UTF-8
Type=Service
Icon=khangman-active
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Laszlo Papp
X-KDE-PluginInfo-Email=lpapp@kde.org
X-KDE-PluginInfo-Name=org.kde.khangman
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://edu.kde.org/applications/all/khangman
X-KDE-PluginInfo-Category=Games
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPLv2
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/main.qml
